.butao {
    color: black;
    background-color: white;
    padding: 2% 15%;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}

.butao:hover {
    color: white;
    background-color: rgb(255, 0, 255);
    transition: 0.2s ease-in;
}

.butao:focus {
    outline: none;
}